.calendar {
  position: relative;

  &__days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: var(--border-brand-md);
    border-bottom: var(--border-brand-md);
  }

  &__today {
    width: 100%;
    text-align: center;
    margin-bottom: var(--space-2);

    > button {
      padding: var(--space-1-5) var(--space-2) var(--space-2);
      line-height: 0.5em;
    }
  }

  &__bubbles {
    background-color: var(--color-bubbles, var(--color-brand-green));
    font-family: var(--font-family-primary);
    font-weight: bold;
    text-align: center;
    margin: var(--space-5) var(--space-5);
    padding: var(--space-2-5) var(--space-6);
    border: var(--border-brand-md);
    border-radius: 100%;

    > * {
      user-select: none;
      pointer-events: none;
    }
  }

  &__base {
    border-bottom: var(--border-brand-md);
    margin-top: var(--space-0-5);
    padding-bottom: var(--space-1-5);
  }

  &__category {
    overflow: hidden;
  }

  &__filter {
    display: flex;
    margin-top: var(--space-6);

    .c-btn {
      flex: 1 1 50%;
      font-size: var(--text-md);
      background-color: transparent;
      &:not(:first-child) {
        margin-left: var(--space-4);
      }
    }
  }
}

.card {
  &__content {
    display: flex;

    &:last-child {
      margin-left: auto;
    }
  }
}
