.sc-accordion {
  &__header {
    padding: var(--space-3) 0;
    > * {
      pointer-events: none;
      user-select: none;
    }

    &::after {
      content: (">");
      margin-right: var(--space-1);
      float: right;

      transition: transform 0.2s ease-in;
    }
  }

  &__item {
    &.open {
      .sc-accordion__header {
        &::after {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__content {
    transition: all 0.5s ease-in-out;
    &.u-hidden {
      height: 0;
      overflow: hidden;
    }
  }
}
