@use "../../../styles/abstracts/_mixins/m_viewport" as viewports;

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: var(--color-background);
  top: 0;
}

.logo {
  padding-right: var(--space-0-5);
  padding-top: var(--space-2);

  width: var(--space-13);
  height: var(--space-16);

  img {
    width: 100%;
    height: 100%;
  }
}

.burger-menu {
  width: 2.5em;
  height: 2.5em;

  img {
    width: 100%;
    height: 100%;
  }
}

.page-title {
  font-family: var(--font-family-primary);
  font-size: var(--text-xl);
  font-weight: bold;
}

.page-subtitle {
  margin-top: 0;
  font-size: 0.5em;
  text-align: center;
  line-height: 1;
  padding-bottom: var(--space-2)
}

.sc-icon {
  width: var(--space-13);
  height: var(--space-13);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &__logo {
    margin-right: auto;

    img {
      height: var(--navigation-height);
    }
  }

  &__item {
    @include viewports.large-up {
      display: inline-block;
    }

    &:not(:last-child) {
      margin-right: var(--space-2);
    }
  }

  &__list {
    font-family: var(--font-family-secondary);
  }

  &__wrapper {
    ul {
      display: none;
    }

    @include viewports.large-up {
      ul {
        display: block;
      }
    }
  }
}
