<div class="products">
  <ul class="products__list">
    <li class="products__card" *ngFor="let product of products">
      <div class="card__meta">
        <div class="text-lg">{{product.name}}</div>
        <div class="text-md">{{product.company}}</div>
        <div class="text-md">
          <span *ngFor="let item of product.categories">{{item}}, </span>
        </div>
        <span>{{product.isAvailable}}</span>
        <span>{{product.amount}}</span>
        <span>{{product.price}}</span>
      </div>
      <div class="text-sm card__properties">
        <div>

          <span *ngFor="let item of product.ingredients">
            {{item.name}},
          </span>
        </div>
        <div class="">

          <span *ngFor="let item of product.skinStatus">
            {{item}},
          </span>
        </div>
        <div class="">

          <span *ngFor="let item of product.usages">
            {{item}},
          </span>
        </div>
        <a href="{{product.url}}">LINK </a>
      </div>
    </li>
  </ul>
</div>
