.bull {
    bottom: 1px;
    color: var(--color-brand-primary-light);
    position: relative;
}

/* ### STICKY HEADER ### */
#main-navigation {

}

#main-content,
#main-footer {
    position: relative;
    top: var(--navigation-height);
}
