i, .sc-icon {
  display: block;
  min-height: 16px;
  min-width: 16px;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.sc-icon-bag-check {
  background-image: url('../../assets/icons/bag-check.svg') ;
}

.sc-icon-bag-remove {
  background-image: url('../../assets/icons/bag-remove.svg');
}

.sc-icon-arrow {
  background-image: url('../../assets/icons/arrow.svg');
}

.sc-icon-add {
  background-image: url('../../assets/icons/add.svg');
}

.sc-icon-moon {
  background-image: url('../../assets/icons/moon.svg');
}

.sc-icon-close {
  background-image: url('../../assets/icons/close.svg')
}
