@import "../../../../styles/abstracts/_mixins/m_aspect-ratio";

.sc-fixed-background {
  max-height: 30vh;
  overflow: hidden;
  z-index: 0;
  position: absolute;
  left: 0;
  bottom: 0;


  width: 100%;
  height: 100%;

  &__inner {

    @include aspect-ratio(16, 9) {
      width: 100%;
      height: 100%;
    }
  }
}
