<div class="categories">
  <div class="categories__item" *ngFor="let category of categories">
    <div class="">
      {{category.name}}
    </div>
  </div>
</div>

<div class="products">
  <ul class="products__list">
    <li class="products__card" *ngFor="let product of products">
      <sc-card [showCategory]="true" [product]="product">
        <span>{{product.amount}}, {{product.price}}</span>
        <h4>Hautzustand</h4>
        <p>
          <ng-container *ngFor="let skinstatus of product.skinStatus">
            {{skinstatus}}
          </ng-container>
        </p>
        <h4>Anwendung</h4>
        <p>
          <ng-container *ngFor="let usage of product.usages">
            {{usage}}
          </ng-container>
        </p>
        <h4>Inhaltsstoffe</h4>
        <p>
          <ng-container *ngFor="let ingredient of product.ingredients">
            {{ingredient}};
          </ng-container>
        </p>
      </sc-card>
      <div class="products__isAvailable">
        <i class="sc-icon-bag-check" *ngIf="product.isAvailable; else not_available"></i>
        <ng-template #not_available>
          <i class="sc-icon-bag-remove"></i>
        </ng-template>
      </div>
    </li>
  </ul>
</div>
