.products {
  --color-background: var(--color-brand-green-light);
  margin-bottom: var(--space-20);

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    width: 100%;
  }
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__item {
    > * {
      user-select: none;
    }
    background-color: hsla(151, 49%, 26%, 1);
    font-family: var(--font-family-primary);
    font-weight: bold;
    font-size: var(--text-xs);

    padding: var(--space-1);
    width: var(--space-18);
    height: var(--space-18);
    border: var(--border-brand-md);
    border-radius: 100%;
    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;

    > div {
      position: absolute;
      width: 100%;
      text-align: center;
      word-wrap: break-word;
      hyphens: auto;
    }
  }
}
