
@import "../../../styles/abstracts/_mixins/m_viewport";

:host {
  display: block;
  width: 100vw;
  height: calc(100vh - var(--header-height));
  position: fixed;
  left:0;
  top: var(--header-height);
}
.menu {
  background-color: var(--color-brand-green);
  display: grid;

  width: 100%;
  height: 100%;

  &__list {
    margin: var(--space-4) var(--space-6) 0;
  }

  &__item {
    margin-top: var(--space-4);

    button {
      width: 100%;
    }
  }
}

@include medium-up {
    sc-fixed-background {
      display: none;
  }
}
