<div class="menu">
  <ul class="menu__list">
    <li class="menu__item"><button class="c-btn">Produktliste</button></li>
    <li class="menu__item"><button class="c-btn">Kalender</button></li>
    <li class="menu__item"><button class="c-btn">Wirkstoffe</button></li>
    <li class="menu__item"><button class="c-btn">Routinen</button></li>
    <li class="menu__item"><button class="c-btn">Inventar</button></li>
    <li class="menu__item"><button class="c-btn">Optionen</button></li>
  </ul>
  <div class="menu__image">
    <img src="../../../../assets/images/jungle.svg" alt="">
  </div>
</div>
