<div class="calendar">
  <div class="calendar__days">
    <div class="calendar__bubbles" (click)="selectDay($event, item.date)" *ngFor="let item of calendar.visibleDays">
      <div>{{item.label}}</div>
      <div>{{item.day}}</div>
    </div>
  </div>
  <ng-container *ngIf="routines?.base">
    <div class="calendar__base text-xl font-primary align-center">
      {{routines?.base}}
    </div>
  </ng-container>
  <ul class="calendar__categories">
    <li class="calendar__category accordion" *ngFor="let step of steps">
      <div class="accordion__header" (click)="toggleCard($event, step)">
        <span class="sc-icon-arrow"></span>
        <span class="text-lg font-primary">{{step.category.label}}</span>
      </div>
      <div class="accordion__items" [class.u-hidden]="!step.isOpen">
        <div class="calendar__products">
          <sc-card [product]="product" *ngFor="let product of step.products"></sc-card>
        </div>
      </div>
    </li>
  </ul>
</div>
