<div class="calendar">
  <div class="calendar__days">
    <div class="calendar__bubbles" *ngFor="let item of calendar.visibleDays">
      <div>{{item.label}}</div>
      <div>{{item.day}}</div>
    </div>
  </div>
  <div class="calendar__base text-xl font-primary align-center">
    {{routines?.base}}
  </div>
  <ul class="calendar__categories">
    <li class="calendar__card" (click)="toggleCard(step)"  *ngFor="let step of steps">
      <div>
        <span class="sc-icon-arrow"></span>
        <span class="text-lg font-primary">{{step.category.label}}</span>
      </div>
      <div [class.u-hidden]="!step.isOpen" *ngFor="let product of step.products">
        <sc-card [product]="product"></sc-card>
      </div>
    </li>
  </ul>
</div>
