button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.c-btn {
  display: inline-block;
  padding: var(--space-1) 0 var(--space-2);

  --color-button: var(--color-background);
  background-color: var(--color-button);
  color: var(--color-brand-yellow);

  font-family: var(--font-family-primary);
  font-size: var(--text-lg);
  font-weight: bold;
  line-height: var(--line-height-sm);
  text-transform: uppercase;

  border: var(--border-brand-md);
  border-radius: var(--border-radius-md);

  &:hover {
  }

  &:active {
    transform: scale(0.95) translateZ(0);
  }

  &--small {
    padding: var(--space-0-5) var(--space-2);
    font-size: var(--text-xs);

    &:hover {
      --box-shadow-button-spread: 1em;
    }
  }

  &--large {
    padding: var(--space-2) 0;
    border-radius: var(--border-radius-lg);
    font-size: var(--text-xl);
    font-weight: bold;
    &:hover {
    }
  }

  &--bare {
    background-color: var(--color-background);
    color: var(--color-button);

    &:hover {
      color: var(--color-neutral-white);
      --box-shadow-button-color: var(--color-button);
    }
  }

  &--round {
    border-radius: var(--border-radius-full);
  }
}
